@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  
  body {
    background-color: #ffffff !important;
  }
}

@font-face {
  font-family: 'MyriadPro-Regular_0';
  src: url('/fonts/MyriadPro-Regular_0.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('/fonts/Acumin Variable Concept.ttf') format('truetype');
}

@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('/fonts/AcuminVariableConcept.otf') format('truetype');
}

body {
  font-family: 'MyriadPro-Regular_0';
}

@layer components {
  .acumin-button {
    /* font-family: var(--font-poppins), 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; */
    font-weight: 500;
    font-size: clamp(1rem, 5vw, 1.6875rem);
    line-height: 1;
    letter-spacing: -0.02em;
    font-feature-settings: 'kern' 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-primary {
    background-color: "#F7AF41";
    color: #ffffff;
  }

  .btn-secondary {
    background-color: #F7AF41;
    color: #000000;
  }

}
