@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  body {
    /* Background will be applied dynamically via BackgroundWrapper component */
  }
}

@font-face {
  font-family: 'MyriadPro-Regular_0';
  src: url('/fonts/MyriadPro-Regular_0.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('/fonts/Acumin Variable Concept.ttf') format('truetype');
}

@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('/fonts/AcuminVariableConcept.otf') format('truetype');
}

body {
  font-family: 'MyriadPro-Regular_0' !important;
}
